---
layout: null
---

<!DOCTYPE html>
<html class="theme-dark" lang="th">

{% include head.html %}

<body>

  <div class="container">
    <div class="column">
      <main>

        <!--
              By default, the Avatar is rounded. Use the following:
              - avatar--rounded: Automatically rounds the image
              - avatar--soft: Slightly rounds the image
              - avatar--none: Removes any rounding

              Be sure to replace the src with your own image path and update the alt text
            -->
        <img class="avatar avatar--rounded" src="{{ '/assets/images/avatar.png' | relative_url }}"
          srcset="{{ '/assets/images/avatar.png' | relative_url }} 1x, {{ '/assets/images/avatar@2x.png' | relative_url }} 2x"
          alt="C2Z" width="128" height="128" fetchpriority="high">

        <!-- Replace with your name or brand -->
        <h1>C2Z</h1>

        <!-- Add a short description about yourself or your brand -->
        <p>ยินดีที่ได้รู้จักครับ</p>

        <!-- All your buttons go here -->
        <nav class="button-stack" aria-label="Links">

          <!-- Generic Blog -->
          <a class="button button-default" href="/blog" target="_top" rel="noopener"><img class="icon"
              aria-hidden="true" src="/assets/images/icons/generic-blog.svg" alt="Blog Icon">My Blog</a>

          <!-- Steam -->
          <a class="button button-steam" href="https://steamcommunity.com/id/2GB/" target="_blank" rel="noopener"
            role="button"><img class="icon" aria-hidden="true" src="/assets/images/icons/steam.svg"
              alt="Steam icon">Steam</a>

          <!-- Flashes -->
          <a class="button button-bluesky" href="https://bsky.app/profile/c2z.top" target="_blank" rel="noopener"><img
              class="icon" aria-hidden="true" src="/assets/images/icons/bluesky.svg" alt="Bluesky Logo">Bluesky</a>

          <!-- Instagram -->
          <a class="button button-instagram" href="https://www.instagram.com/gen.pq/" target="_blank" rel="noopener"
            role="button"><img class="icon" aria-hidden="true" src="/assets/images/icons/instagram.svg"
              alt="Instagram icon">Instagram</a>

        </nav>
      </main>

      {% include footer.html %}

    </div>
  </div>

</body>

</html>